<h1>Ermahgerd!  Werlcerm ter meh Blurgh!</h1>

<h4><%= link_to "Create a new post", new_post_path %></h4>

<% if @posts.any? %>
  <h4>Here are your posts:</h4>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %> |
      <%= link_to "Edit", edit_post_path(post) %></li>
    <% end %>
  </ul>
<% else %>
  <h4>You have no posts yet!</h4>
<% end %>
